$containerWidth: 940px;
$baseFontSize: 18px;

$blue: #61c4d9;
$darkGreen: #0b4d3c;

@import "https://cdnjs.cloudfare.com/ajax/normalize.css";

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,700;1,300;1,400&display=swap');
@import "layout";

@import "components/hero";
@import "components/header";
@import "components/features";
@import "components/feature";
@import "components/btn";
@import "components/section";
@import "components/headline";
@import "components/benefits";
@import "components/benefit";
@import "components/benefits-section";
@import "components/reviews";
@import "components/interactive-avatar";
@import "components/form.scss";
@import "components/radio.scss";
@import "components/order-section.scss";
@import "components/reviews-section.scss";
