.benefits-section {
    position: relative;
    background: url("../img/decor/side-leaf.png") left top 57% no-repeat;

    &:before {
        content: url("../img/bars-and-berries.png");
        position: relative;
        bottom: -80px;
        left: 0;
    }
}